* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #F5F3EE;
    margin: 0;
}

.card {
    width: 300px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    text-align: left;
    padding-bottom: 15px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.18);
}

.card-titulo {
    font-size: 20px;
    padding: 16px;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
}

.card img {
    width: 100%;
    height: 200px;
    display: block;
}

.card-legenda {
    margin-top: 12px;
    font-size: 14px;
    color: #555;
    padding: 0 12px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
    color: #1f2933;
    margin-top: 50px;
    text-align: center;
}

h2 {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #1f2933;
    margin-bottom: 40px;
}

h3 {
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #1f2933;
    margin-bottom: 20px;
    margin-top: 140px;
    text-align: center;
}

.area-cards {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 40px 80px;
}
.area-cards-eu {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 40px 80px;
}