* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #F5F3EE;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 300px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    text-align: center;
    padding-bottom: 16px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.18);
}

.card-titulo {
    font-size: 20px;
    padding: 16px;
    color: #333;
    font-family: 'Montserrat', sans-serif ;
    font-weight: 600;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

.card-legenda {
    margin-top: 12px;
    font-size: 14px;
    color: #555;
    padding: 0 12px;
}

a {
    text-decoration: none;
    color: inherit;
}
h1 {
    font-size: 90px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
    color: #1f2933;
    margin-bottom: 20px;
    margin-top: -400px;
}
h2 {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #1f2933;
    margin-bottom: 40px;
}