* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    background: radial-gradient(circle, #0f172a  , #1e3a5f);
    color: #e5e7eb;
    background-attachment: fixed;
}

.card {
    width: 300px;
    background:#23272f;;
    backdrop-filter: blur(6px);
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    text-align: left;
    padding-bottom: 15px;
    transition: transform 0.3s;
    
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.18);
}

.card-titulo {
    font-size: 20px;
    padding: 16px;
    color: #f0f0f0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
}

.card img {
    width: 100%;
    height: 200px;
    display: block;
}

.card-legenda {
    margin-top: 12px;
    font-size: 14px;
    color: #979797;
    padding: 0 12px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
    color: #e2e8f0;
    margin-top: 50px;
    text-align: center;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.35);
}

h2 {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #94a3b8;
    margin-bottom: 40px;
}

h3 {
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #b9bec0;
    margin-bottom: 20px;
    margin-top: 140px;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.area-cards {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 40px 80px;
}

.area-cards-eu {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 40px 80px;
}