.btn {
    display: inline-block;
    padding: 20px 70px;
    background-color: #1f2933;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    border-radius: 18px;
    font-weight: 500;
    font-size: 30px;
    font-family: Montressart, sans-serif;
    transition: transform 0.2s, background-color 0.2s;
    margin-top: 40px;
}

.btn:hover {
    background-color: #374151;
    transform: scale(0.97);
}

body {
    background-color: #F5F3EE;
}

main {
    text-align: center;
    margin-top: 20%;
}

h1 {
    font-size: 90px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.35);
    letter-spacing: 1px;
    color: #1f2933;
    margin-bottom: 20px;
    margin-top: -100px;
}

p {
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: #4B5563;
    margin-bottom: 40px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}