.btn {
    display: inline-block;
    padding: 20px 70px;
    background-color: #414857;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    border-radius: 24px;
    font-weight: 500;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    transition: transform 0.2s, background-color 0.2s;
    margin-top: 40px;
}

.btn:hover {
    background-color: #374151;
    transform: scale(0.97);
}

body {
    margin: 0;
    min-height: 100vh;
    background: radial-gradient(circle, #0f172a  , #1e3a5f);
    color: #e5e7eb;
    background-attachment: fixed;
}

main {
    text-align: center;
    margin-top: 20%;
}

h1 {
    font-size: 90px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.35);
    letter-spacing: 1px;
    color: #e2e8f0;
    margin-bottom: 20px;
    margin-top: -100px;
}

p {
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: #b9bec0;
    margin-bottom: 40px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}